{% extends 'base.html.twig' %}

{% block title %} Hello DefaultController!{% endblock %}

{% block body %}
        <h1>Utilisation de mon extension multiplication</h1>
        {% set varMultiplication = 5 %}
        <h2>{{ varMultiplication }} * 3 = {{ varMultiplication|multiplication(3) }}</h2>

        <h1>Utilisation de la fonction carré</h1>

        <h2>{{ varMultiplication }} au carré = {{ varMultiplication|carre }}</h2>

        {% set fruits = ['apple', 'banana', 'raspberry'] %}
        {{ fruits|length }} dans le panier <br>
        {{ fruits|first }} est le premier<br>
        {{ fruits|last }} est le dernier<br>

        {% for fruit in fruits %}
                {{ fruit|upper }} <br>
        {% endfor %}


        <h3>Condition If qu'il ne faut pas oublier de fermet</h3>
        {% if name == 'Aurélien' %}
                <h1>Je passe dans la premiere condition</h1>
                <p>Bonjour {{ name }}</p>
        {% elseif name == 'Pierre' %}
                <h1>Je passe dans la deuxieme condition</h1>
                <p>Bonjour pierre</p>
        {% else %}
                <h1>Je passe dans la troisieme condition</h1>
                <p>Bonjour inconnu</p>
        {% endif %}

        {# Définition d'une variable de type tableau #}
        {% set prenoms = ['aurelien', 'pierre'] %}

        <h3>Parcour d'un tableau avec une boucle for</h3>
        <ol>
                {% for item in pannier %}
                         <li>{{ item }}</li>
                {% endfor %}
        </ol>

        {% for i in 0..10 %}
              {{ i }} Je dois couper mon micro dans le général <br>
        {% endfor %}


                 {% import "macro/macro.html.twig" as forms %}


                <p>{{ forms.input('username', 'valeur aurelien', 'password') }}</p>
                <p>{{ forms.input('password', null, 'password') }}</p>

        {% dump(3)  %}
{% endblock %}

