{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% dump(app.session.get('identity')) %}
    {% dump(app.request.cookies) %}
    <div class="example-wrapper">
        <h1>Session :  {{ app.session.get('identity')['lastname'] }}  {{ app.session.get('identity')['firstname'] }} </h1>
        <h1>Cookies :  {{ app.request.cookies.get('firstname') }}</h1>
    </div>

    Cool mon mail est parti
{% endblock %}
